.project {
  transform: scaley(-1);
  /* mirror upward */
  overflow: auto;
}

#projects {
  display: flex;
  flex-flow: column-reverse;
  /* reverse flow unless you want bottom at top, then remove the flex properties */
}

.project img {
  max-width: 100%;
  /* demo purpose */
  max-height: 100%;
  display: block;
  margin: auto;
  background: gray;
  width: 100%;
  object-fit: cover;
  height: 400px;
  transform: scaley(-1);
}

/* sticky ? */

.project {
  max-width: 100vw;
  /* demo purpose */
  max-height: 100vh;
  /* box-shadow: 0 0 5px; */
  background: white;
  position: sticky;
  /* there is javascript polyfills avalaible, search and pick one up  */
  bottom: 0;
}
